
.container {
    width: 100vw;
    height: 100vh;

    background-color: rgb(31, 29, 39);
    color: white;
}

.container2 {
    background-color: rgb(31, 29, 39);

    margin-left: 20%;
    margin-top: 10%;
    text-align: center;

    width: 60%;
    height: 60%;
}

.h1 {
    font-size: 3rem;

    padding-top: 2%;
}

.input {
    width: 40%;
    padding: 0.6%;

    background-color: rgba(61, 61, 61, 0.575);
    border: black 0.2rem solid;
    border-radius: 10px;
}

.input:hover {
    background-color: rgb(128, 40, 40);
}

.input::placeholder {
    color: white;
}

.inputDate {
    color: black;

    width: 25%;

    border: black 0.2rem solid;
    border-radius: 10px;
}

.inputDate:hover {
    color: white;

    background-color: rgb(102, 102, 102);
    border: white 0.2rem solid;
    border-radius: 10px;
}

.inputImage {
    background-color: black;
    padding: 1.4%;
    
    border: white 0.2rem solid;
    border-radius: 10px;
}

.inputImage:hover {
    background-color: rgb(102, 102, 102);
}

.contLink {
    margin-top: 3%;
    
}

.button {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(157,91,43,1) 47%, rgba(255,94,0,1) 100%);

    border: black 0.2rem solid;
    border-radius: 10px;

    text-align: center;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.button:hover {
    border: white 0.2rem solid;
}

.containerLink {
    
}

.link {
    background-color: rgb(255, 255, 255);
    color: black;

    border: black 0.2rem solid;
    border-radius: 10px;

    padding: 1%;
}

.link:hover {
    color: white;
    background-color: black;

    border: white 0.2rem solid;
}