
.body {
    background-color: rgb(31, 29, 39);
    height: 100vh;
}

.navBar {
    background-color: rgba(255, 255, 255, 0.63);
    color: white;

    height: 10rem;


}

.btnLogout {
    background-color: rgb(0, 0, 0);

    border: white 0.2rem solid;
    border-radius: 15px;

    margin-top: 1%;
    margin-left: 94%;

    width: 5%;
    padding: 0.7%;
}

.btnLogout:hover {
    color: black;
    background-color: white;

}

.btnCreate {
    background-color: rgb(0, 0, 0);

    border: white 0.2rem solid;
    border-radius: 15px;

    margin-left: 2%;

    width: 5%;
    padding: 0.7%;
}

.btnCreate:hover {
    background-color: white;
    color: black;

    border: black 0.2rem solid;
}

.container {
    background-color: rgba(129, 129, 129, 0.603);
    color: white;

    margin-left: 8%;

    width: 80vw;
    height: 100vh;

    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card {
    width: 50%;
    height: 30%;

    margin-top: 25%;
    margin-left: 6%;
    
    background-color: rgb(0, 0, 0);
}

.Filmes_bar {
    font-size: 2rem;
    text-align: center;
}